In [19]:
import pandas as pd
result = pd.DataFrame()

In [20]:
data = pd.read_csv("../data/운동현황 3개년.csv", encoding='utf-8')
data['연도'] = data['연도'].str.replace('년', '').astype(int)
data.head()

,연도,특성별(1),특성별(2),한 달에 2~3번 정도,일주일에 1번,일주일에 2번,일주일에 3번,일주일에 4번,일주일에 5번,일주일에 6번,매일,전혀 하지 않았다
0,2023,전체,소계,6.6,9.0,12.5,16.5,7.1,5.2,1.5,11.1,30.5
1,2023,지역별,완산구,5.9,8.5,10.7,18.2,8.7,5.4,1.4,9.4,31.7
2,2023,지역별,덕진구,7.4,9.5,14.5,14.6,5.3,4.9,1.6,13.0,29.3
3,2023,성별,남자,7.4,9.8,12.1,16.1,7.6,5.0,1.4,11.4,29.3
4,2023,성별,여자,5.9,8.3,13.0,16.8,6.5,5.4,1.6,10.9,31.7

In [21]:
region = data[data['특성별(1)'] == '지역별']
region

,연도,특성별(1),특성별(2),한 달에 2~3번 정도,일주일에 1번,일주일에 2번,일주일에 3번,일주일에 4번,일주일에 5번,일주일에 6번,매일,전혀 하지 않았다
1,2023,지역별,완산구,5.9,8.5,10.7,18.2,8.7,5.4,1.4,9.4,31.7
2,2023,지역별,덕진구,7.4,9.5,14.5,14.6,5.3,4.9,1.6,13.0,29.3
12,2021,지역별,완산구,6.9,10.0,12.2,17.1,5.3,4.4,1.3,13.9,28.9
13,2021,지역별,덕진구,7.6,8.3,14.3,14.1,6.7,6.4,2.2,8.1,32.3
23,2019,지역별,완산구,7.0,8.1,11.5,15.3,6.2,4.3,1.3,9.2,37.2
24,2019,지역별,덕진구,11.0,10.5,11.1,12.3,4.7,5.9,1.4,6.5,36.5

In [ ]:
result[['연도', '특성별(1)', '특성별(2)']] = region[['연도', '특성별(1)', '특성별(2)']]

region['일주일에 3번'] = pd.to_numeric(region['일주일에 3번'], errors='coerce')
region['일주일에 4번'] = pd.to_numeric(region['일주일에 4번'], errors='coerce')
region['일주일에 5번'] = pd.to_numeric(region['일주일에 5번'], errors='coerce')
region['일주일에 6번'] = pd.to_numeric(region['일주일에 6번'], errors='coerce')
region['매일'] = pd.to_numeric(region['매일'], errors='coerce')

# 변환 후 연산 수행
result['자주'] = (region['일주일에 3번'].fillna(0) +
                  region['일주일에 4번'].fillna(0) +
                  region['일주일에 5번'].fillna(0) +
                  region['일주일에 6번'].fillna(0) +
                  region['매일'].fillna(0))

In [28]:
result

      연도 특성별(1) 특성별(2)    자주
1   2023    지역별    완산구  43.1
2   2023    지역별    덕진구  39.4
12  2021    지역별    완산구  42.0
13  2021    지역별    덕진구  37.5
23  2019    지역별    완산구  36.3
24  2019    지역별    덕진구  30.8

In [33]:
# '특성별(2)'별 '자주' 값의 '연도'별 평균 계산
average_by_feature = result.groupby('특성별(2)')['자주'].mean().reset_index()

# 결과에 '연도'와 '특성별(1)' 추가
average_by_feature['연도'] = '평균'
average_by_feature['특성별(1)'] = '지역별'

# 컬럼 순서 재정렬
result = average_by_feature[['연도', '특성별(1)', '특성별(2)', '자주']]
result

   연도 특성별(1) 특성별(2)         자주
0  평균    지역별    덕진구  35.900000
1  평균    지역별    완산구  40.466667

In [34]:
result.to_csv("../data/전주시_지역별_자주_운동_비율.csv")